body {
  background: url("../imagenes/fondo_4.png") no-repeat center center fixed;
  background-size: cover;
}


    .card {
      background-color: #f4f5f7;
      border: 1px solid #c6c8cb;
      border-radius: 10px;
    }

    .form-control {
      background-color: #f1f1f1;
      border: 1px solid #ced4da;
      color: #495057;
    }

    .form-control:focus {
      background-color: #fff;
      border-color: #6c757d;
      box-shadow: 0 0 0 0.2rem rgba(108,117,125,.25);
    }

    .btn-primary {
      background-color: #6c757d;
      border-color: #6c757d;
    }

    .btn-primary:hover {
      background-color: #5a6268;
      border-color: #545b62;
    }

    .alert-danger {
      background-color: #f8d7da;
      border-color: #f5c6cb;
      color: #721c24;
    }